# Gradle
.gradle/
build/
out/
classes/

# Eclipse & VScode
.classpath
.project
.settings/
bin/
.vscode/
*.launch
eclipse/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Windows...
**/Thumbs.db

# OS X
.DS_Store
run/